<div class="play-bar">
  <div class="progress-bar">
    <input type="range" #progressBar (change)="handleProgress(progressBar.value)" step="1" min="0"
      max="0" value="0" />
  </div>
  <div class="avatar"></div>
  <div class="name">
    <span class="song-name">{{ songDetail.songName }}</span>
    <span class="artist-name">{{ songDetail.artistName }}</span>
  </div>
  <div class="play-mode">
    <span (click)="switchMode(playModeIndex)">{{ playMode[playModeIndex] }}</span>
  </div>
  <div class="operation">
    <span (click)="prevPlay()">prev</span>
    <span (click)="togglePlay()">{{ songDetail.playing ? 'pause' : 'play' }}</span>
    <span (click)="nextPlay()">next</span>
  </div>
  <!-- <div>{{ songDetail.songUrl }}</div> -->
  <div class="volume-bar">
    <input type="range" #volume (input)="handleVolume(volume.value)" step="0.01" max="1.0" min="0" value="1.0" />
  </div>
</div>
<audio src="{{ songDetail.songUrl }}" #audioPlayer (loadedmetadata)="playLoadedmetadata(songDetail)"
  (ended)="playComplete(playModeIndex, songDetail)" (timeupdate)="playTimeupdate()"></audio>
