.play-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

.progress-bar {
  flex: 1 1 100%;
  height: 2px;
  background: #f2f2f2;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;

  .progress {
    height: 2px;
    width: 0;
    background: #f2f2f2;
    background: linear-gradient(to right,#62efab 5%,#f2ea7d 15%,#f2ea7d 25%,#ff8797 35%,#ff8797 45%,#e1a4f4 55%,#e1a4f4 65%,#82fff4 75%,#82fff4 85%,#62efab 95%);
    cursor: pointer;
  }
}

.name {
  display: flex;
  flex-direction: column;
}

.operation {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    margin: 5px;
    cursor: pointer;
  }

  svg:not(:first-child):not(:last-child) {
    width: 30px;
    height: 30px;
  }
}

.volume-bar {
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    margin: 5px;
  }

  .volume {
    position: relative;
    width: 100px;
    height: 2px;
    background: #f2f2f2;
    cursor: pointer;

    &::before {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to right, #62efab 5%, #f2ea7d 15%,
        #f2ea7d 25%, #ff8797 35%, #ff8797 45%, #e1a4f4 55%, #e1a4f4 65%,
        #82fff4 75%, #82fff4 85%, #62efab 95%);
      width: 100%;
      height: 100%;
      cursor: pointer;

      &::after {
        content: "";
        cursor: pointer;
        position: absolute;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #FF410F;
        right: -3px;
        top: -2px;
      }
    }
  }
}

.hidden {
  display: none;
}

/* 动画 进度条 */
@keyframes progress {

}
