.list-box {
  color: #fff;
  padding: .625rem;

  .button {
    text-align: center;

    button {
      color: #333;
      padding: .7em .9em;
      border: none;
      max-width: 100px;
      line-height: 1;
      cursor: pointer;
      margin: .5em 0;
    }

    button:not(:first-child) {
      margin-left: .5em;
    }
  }
}

.song-list {
  display: table;

  li {
    display: table-row;

    .play-song {
      display: none;
      width: 10px;
      height: 10px;
      fill: red;
      cursor: pointer;
    }

    &:hover .song-index {
      display: none;
    }

    &:hover .play-song {
      display: block;
    }
  }

  li > div {
    display: table-cell;
    width: 25%;

    span {
      cursor: pointer;
    }

    &:first-child {
      width: 10%;
    }
  }

}
